.App {
  background-color: black;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  margin: 0 2vw;
}

.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f11e22;

  position: relative;
  width: 100%;
  height: 8rem;
}

@media screen and (max-width: 800px) {
  .App-logo {
    margin: 2vw;
  }
}
